@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.headerfix {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 730px) {
  .d-md-none {
    display: block !important;
  }

  .d-md-flex {
    display: none !important;
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }
}
.bestseller-product {
  padding-top: 20px;
  padding-bottom: 20px;
}
 li a{
text-decoration: none !important;
/* color:#fff !important; */
}
a{
  text-decoration: none !important;
}
/* .btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #dc3545;
  border-color: #ea868f;
} */
.btnprimary{
  background-color: #4a9d00 !important;
  border-color: #5e8140 !important;
}
.btnprimary:hover {
  background-color: #4a9d00 !important;
  border-color: #5e8140 !important;
}
.collection-title {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .collection-title {
    font-size: 12px;
  }
}

.bg-dangers {
  --bs-bg-opacity: 1;
  background-color: #4a9d00 !important;
}
.bg-pinks {
  --bs-bg-opacity: 1;
  background-color: #4a9d00 !important;
}